a{
  text-decoration: none;
  color: $white;
  &:active,
  &:hover,
  &.router-link-active {
    color: $yellow;
    transition: color .3s ease-in-out;
  }
}

.error{
  color: $accent;
}

.title{
  color: $accent;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

